.navegacao{
    width: 600px;
    margin: 25px auto;
    /* border: 2px solid #df3551 */
}

.navegacao nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navegacao button{
    color: #fff;
    background-color: #df3551;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;

}

.navegacao button:hover{
    background-color: #fdbfbf;
    color: #df3551;

}